.header-containers{
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-container-home{
    position: fixed;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top:0vh;
   
    border: 0.5px solid rgba(255, 255, 255, 0.532);
    height:5vh;
    width:90vw;
    max-width: 600px;
    padding: 0 3vw;
    border-radius: 0 0px 5px 5px;
    background-color: rgba(0, 0, 0, 0.303);
    
}


.header-container-home-button button{
    width: 60px;
   display: flex;
   justify-content: space-between;
    border: none;
    color: white;
    background-color: transparent;

}
